# Основные настройки
Language: Cpp
Standard: c++17
ColumnLimit: 120

# Отступы
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentWrappedFunctionNames: true

# Выравнивание
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: Consecutive
AlignOperands: Align
AlignTrailingComments: true

# Переносы
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true

# Пробелы
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpacesBeforeTrailingComments: 1
SpaceAfterTemplateKeyword: true

# Указатели и ссылки
PointerAlignment: Left

# Фигурные скобки
BreakBeforeBinaryOperators: None
BreakConstructorInitializers: AfterColon

# Включения
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Priority: 1
    Regex: '^<SFML/.*>$'
  - Priority: 2
    Regex: '^<.*>$'
  - Priority: 3
    Regex: '^".*"$'

# Прочее
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
BinPackArguments: false
BinPackParameters: false