
name: cpp-linter

on:
  push:
    branches: [develop, dev]
    paths:
      - "src/*"
  pull_request:
    branches: [develop, dev]
    paths:
      - "src/*"


jobs:
  cpp-linter:
    runs-on: ubuntu-latest
    permissions: 
      pull-requests: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: cpp-linter/cpp-linter-action@main
        id: linter
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: GNU
          files-changed-only: true
          thread-comments: true
    
      - name: Fail fast?!
        if: steps.linter.outputs.checks-failed != 0
        run: |
          echo "some linter checks failed. ${{ steps.linter.outputs.checks-failed }}"
        # for actual deployment
        # run: exit 1